.min-screen{
    min-height: 100vh;
}
.flex{
    display: flex;}
.items-center{
  align-items: center;
}
.justify-between{
    justify-content: space-around;
}
.flex-col{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.text{
    color:#ffc40c;
}